

body {
    background-color: #ebe3d4;
    color: #564c36;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* text-align: center;
    padding: 0px; */
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    grid-template-rows: 2fr 1fr 9fr;
    height: 90vh;
}

.photo {
    border-radius: 0px;
    width: 17vw;
    min-width: 170px;
    height: auto;
    z-index: 1;
}

.container1 {
    background-color: #d4c198;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    padding: 15px;
    border: solid;
    border-color: black;
    border-radius: 0px;
    text-align: center;
}

h1 {
    color: #564c36;
}

p {
    font-size: 18px;
}

/* .nav-links {
    margin-top: 200px;
    max-width: 30%;
    min-width: 20%;
} */

.nav-links {
    background-color: #d4c198;
    margin: 0px;
    text-align: center;
    padding-top: 0px;
    height: 60px;
    border: solid;
    border-color: black;
    border-radius: 0px;
    color: #564c36;
    text-decoration: none;
    /* border-width: 10; */    
}

.pars {
    margin-top: 20px;
    grid-row: 3 / 4;
    grid-column: 1 / 5;
}

/* .nav-links a {
    background-color: #59ad70;
    padding: 10px;
    color: #000000;
    margin: 10px;
    font-size: 18px;
    text-decoration: none;            
    display: inline-block;
} */

.nav-links:hover {
    text-decoration: underline;
}

.tog {
    margin-top: 20px;
}
